# OS Metadata
.DS_Store
Thumbs.db
Desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Local Server Log / Cache
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Workspace settings or temporary backups
*.local
*.bak
*~
